@font-face {
  font-family: "Geist";
  src: url("../assets/fonts/geist/GeistVF.woff2") format("truetype"),
    url("../assets/fonts/geist/GeistVF.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Geist Mono";
  src: url("../assets/fonts/geist-mono/GeistMonoVF.woff2") format("truetype"),
    url("../assets/fonts/geist-mono/GeistMonoVF.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-details-off {
  font-feature-settings: "clig" off, "liga" off;
}

.heading-2 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3rem; /* 120% */
  letter-spacing: -0.0375rem;
}

.m-body {
  font-family: "Geist", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 140% */
  letter-spacing: -0.0125rem;
}

.xs-mono-body {
  font-family: "Geist Mono", monospace;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 1.575rem */
}
.mono-body {
  font-family: "Geist Mono", monospace;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 1.8rem */
}

.s-body {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  letter-spacing: -0.005rem;
}

.l-body {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 133.333% */
  letter-spacing: -0.015rem;
}

.heading-3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 133.333% */
  letter-spacing: -0.015rem;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}
.carousel-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (min-width: 1024px) {
  .heading-2 {
    font-size: 3.75rem;
    line-height: 4.125rem; /* 110% */
    letter-spacing: -0.05625rem;
  }

  .heading-3 {
    font-size: 2rem;
    line-height: 2.5rem; /* 125% */
    letter-spacing: -0.03rem;
  }
}
